body {
  font-family: Arial, sans-serif;
  padding: 15px;
  width: 320px;
  box-sizing: border-box;
  background: #f5f5f5;
  color: #333;
  user-select: none;
  
}

h3 {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  vertical-align: middle;
}

#abrirHistorico {
  float: right;
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  user-select: none;
}

.container {
  margin-bottom: 15px;
  overflow: hidden; /* para limpar floats */
}

.form-group {
  margin-bottom: 12px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid #9d9393;
  border-radius: 13px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
}

textarea {
  height: 60px;
}

#formulario label.checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 6px;
  cursor: pointer;
  
}

label {
  font-size: 14px;
  user-select: none;
  
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
}

button[type="submit"]:hover {
  background-color: #218838;
}

.hidden {
  display: none !important;
}

#mensagemContainer {
  margin-top: 15px;
}

#mensagemPronta {
  width: 100%;
  height: 120px;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  resize: none;
  background-color: #f0f0f0;
  user-select: all;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar #btnHistorico, #btnFormulario {
    padding: 5px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    user-select: none;
}

